<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <h2>User Login</h2>
  <form th:action="@{/user/login}" method="post">
    <label>User ID:</label>
    <input type="text" name="id" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <button type="submit">Login</button>
  </form>
  <a href="/">Back to Home</a>
</div>
</body>
</html>
